{{!-- <div class="weatherdd">
    <button class="weatherbtn">Local Weather</button>
    <div class="weatherdd-content">
        <span class="option">
            <span class="option-title">City:</span>
            <span>{{city}}</span>
        </span>
        <span class="option">
            <span class="option-title">Max Temp:</span>
            <span>{{temp_max}}</span>
        </span>
        <span class="option">
            <span class="option-title">Min Temp:</span>
            <span>{{temp_min}}</span>
        </span>
        <span class="option">
            <span class="option-title">Feels Like:</span>
            <span>{{feels_like_temp}}</span>
        </span>
        <span class="option">
            <span class="option-title">Humidex:</span>
            <span>{{humidity}}</span>
        </span>
    </div>
</div> --}}

<div id="weatherbar">
    <img id="weathericon" src="https://openweathermap.org/img/wn/{{wIcon}}@2x.png" />
    <p>{{city}}: {{wDescriptions}} &nbsp</p>
    <p>Feel like: {{feels_like_temp}} ℃ &nbsp</p>
    <p>High: {{temp_max}} &nbsp Low: {{temp_min}} &nbsp Humidex: {{humidity}}%</p>

</div>